@import '../../../styles/variables';
@import '../../../styles/utilities';

.formContainer {
  color: $text-dark;

  h2 {
    margin-bottom: 15px;
  }

  input[type="text"],
  input[type="number"],
  select {
    background-color: $brew-card-bg;
    font-size: px-to-rem(13px);
    color: $text-dark;

    &::placeholder {
      color: $placeholder-dark;
      font-weight: $weight-light;
    }
  }
}