@import '../../styles/variables';
@import '../../styles/utilities';
@import '../../styles/type';

.brew {
  display: grid;
  grid-template-columns: 100% 100%;
  grid-template-areas: 'main aside';
  grid-column-gap: 20px;
  padding-bottom: 50px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  transition: transform 0.5s, grid-template-columns 0.5s;
  perspective: 1000px;

  @include for-tablet-landscape-up () {
    grid-template-columns: minmax(66.7%, 66.7%) minmax(calc(33.3% - 20px), calc(33.3% - 20px));
    transform: translateX(16.65%);
  }

  .mainContent {
    grid-area: main;
    max-width: 1200px;

    @include for-tablet-landscape-up () {
      max-width: 800px;
    }
  }

  .sideBar {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;

    @include for-tablet-landscape-up () {
      position: relative;
      box-sizing: border-box;
      padding-top: 54px;
      max-width: 380px;
      min-width: 341px;
      grid-area: aside;
      transform-style: preserve-3d;
      transform: rotate3d(0, 1, 0, -115deg) rotateZ(5deg) rotateX(-0.6deg);
      transform-origin: bottom center 100px;
      transition: opacity 0.5s, transform 0.5s cubic-bezier(.53,.01,.4,.99);
    }
  }

  &.open {
    @include for-tablet-landscape-up () {
      grid-template-columns: minmax(490px, 66.7%) minmax(341px, 380px);
      transform: translateX(0);
    }

    .sideBar {
      pointer-events: none;
      opacity: 0;

      @include for-tablet-landscape-up () {
        pointer-events: auto;
        opacity: 1;
        transform: rotate3d(0, 1, 0, 0deg) rotateZ(0deg);
        transition: opacity 0.5s, transform 0.5s cubic-bezier(.19,.19,.04,.99);
      }
    }
  }

  .formsContainer {
    padding: 15px;
    position: relative;
  }

  .new {
    border-top: 5px solid $brew-card-bg;
  }

  .view {
    border-top: 5px solid $brew-card-bg-view;
  }

  .settings {
    color: $text-dark;
    font-weight: $weight-medium;
    font-size: px-to-rem(12px);
    padding-top: 10px;

    &:hover {
      color: $link-hover;
    }
  }

  .dateBrewed {
    margin-left: px-to-rem(20px);
  }

  &__pageHeading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    flex-direction: column;

    @include for-tablet-landscape-up () {
      flex-direction: row;
      align-items: flex-end;
    }

    h1 {
      @include for-tablet-landscape-up () {
        padding-bottom: 0;
      }

      button {
        opacity: 0;
        transition: opacity 0.3s;
      }

      &:hover,
      &:focus {
        button {
          opacity: 1;
        }
      }
    }
  }

  .nameInput {
    border: 0;
    background: transparent;
    outline: none;
    @extend h1;
    padding: 0;
    font-family: $montserrat;

    @include for-tablet-landscape-up () {
      padding-bottom: 10px;
    }
  }

  &__numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;

    @media (min-width: 725px) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__numbersList {
    padding: 0;
    margin: 0;
    list-style-type: none;

    @include for-tablet-landscape-up () {
      display: block;
      padding: 0;
    }

    li {
      margin: 12px 0;
      font-weight: $weight-semibold;

      button.edit {
        opacity: 0;
        transition: opacity 0.3s;
      }

      &:hover {
        button.edit {
          opacity: 1;
        }
      }
    }
  }

  .edit {
    svg {
      width: 15px;
      height: 15px;
      margin-left: 8px;
      fill: $brew-callout;
    }

    &:hover {
      svg {
        fill: darken($brew-callout, 9%);
      }
    }
  }

  &__stats {
    display: flex;
    margin: 0 0 20px;

    @include for-tablet-portrait-up () {
      justify-content: center;
      margin: 10px 0 20px;
    }

    @include for-tablet-landscape-up () {
      justify-content: flex-end;
      margin: 20px 0;
    }
  }

  &__stat {
    position: relative;
    margin: 0 6px;
    width: calc(25% - 12px);
    height: auto;
    padding-bottom: 21%;
    border-radius: 50%;
    border: 1px solid rgba($stat-border, 0.5);
    background-color: rgba($stat-background, 0.4);
    text-align: center;

    @media (min-width: 725px) {
      margin: 0 6px;
      width: 75px;
      height: 75px;
      padding-bottom: 0;
    }

    @media (min-width: 1000px) {
      margin: 0 12px;
    }

    @media (min-width: 1050px) {
      margin: 0 10px;
      width: 100px;
      height: 100px;
    }

    & > div {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }

    .value {
      font-size: px-to-rem(14px);
      font-weight: $weight-light;

      @include for-tablet-portrait-up () {
        font-size: px-to-rem(15px);
      }

      @include for-tablet-landscape-up () {
        font-size: px-to-rem(17px);
      }

      @media (min-width: 1050px) {
        font-size: px-to-rem(24px);
      }
    }

    .label {
      font-weight: $weight-semibold;
      font-size: px-to-rem(9px);

      @include for-tablet-landscape-up () {
        font-size: px-to-rem(11px);
      }
    }

    .srmSwatch {
      display: inline-block;
      margin-right: 4px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid $stat-background;
      transform: translateY(-3px);
    }
  }

  &__header {
    position: relative;

    @include for-tablet-landscape-up () {
      display: flex;
    }

    h2,
    span {
      display: block;
      box-sizing: border-box;
      margin: 0;
      width: 29%;
      font-weight: $weight-medium;
      font-size: px-to-rem(15px);
      text-transform: uppercase;
    }

    h2 {
      padding: 15px 15px 5px;

      @include for-tablet-landscape-up () {
        padding: 15px;
      }
    }

    span {
      width: 100%;
      padding: 0 15px 10px;
      text-transform: none;
      color: $brew-callout;
      font-size: px-to-rem(12px);

      @include for-tablet-landscape-up () {
        width: 42%;
        padding: 15px;
        text-align: center;
        font-size: px-to-rem(15px);
      }
    }
  }

  &__ingredients {
    li {
      display: flex;
      flex-wrap: wrap;

      span {
        &.firstCol {
          order: 2;
          width: 25%;
        }

        &.secondCol {
          order: 1;
          width: 100%;
          font-weight: $weight-semibold;
        }

        &.thirdCol {
          order: 3;
          width: 25%;
        }

        &.fourthCol {
          order: 4;
          width: 25%;
        }

        &.fifthCol {
          order: 5;
          width: auto;
        }
      }

      @include for-tablet-landscape-up () {
        span {
          &.firstCol {
            order: 1;
            width: 14%;
          }
  
          &.secondCol {
            order: 2;
            width: 40%;
          }
  
          &.thirdCol {
            order: 3;
            width: 14%;
          }
  
          &.fourthCol {
            order: 4;
            width: 14%;
          }
  
          &.fifthCol {
            order: 5;
            width: auto;
          }
        }
      }
    }

    &.fermentables {
      li {
        span {
          &.firstCol {
            width: 50%;
          }

          @include for-tablet-landscape-up () {
            &.firstCol {
              width: 14%;
            }
          }
        }
      }
    }

    &.yeast {
      li {
        span {
          &.thirdCol {
            width: auto;
          }

          @include for-tablet-landscape-up () {
            &.secondCol {
              width: 48%;
            }

            &.thirdCol {
              width: auto;
            }
          }
        }
      }
    }
  }

  &__editingSection,
  &__section {
    button.editButton {
      opacity: 1;
      transition: opacity 0.3s;

      @include for-tablet-landscape-up () {
        opacity: 0;
      }
    }

    &:hover {
      button.editButton {
        opacity: 1;
      }
    }
  }

  &__editingSection {
    min-height: 56px;
  }

  &__section {
    position: relative;
    border-bottom: 1px solid rgba($stat-border, 0.5);

    .section__values {
      display: grid;
      grid-template-columns: 100%;
      padding: 15px 15px 25px;
      line-height: 1.5;

      @include for-tablet-landscape-up () {
        grid-template-columns: 30% 20% 20% 30%;
      }
    }

    &.mash {
      .mash_step {
        padding: 12px 15px 15px;
        background-color: rgba($brew-list-hover, 0);
        border-bottom: 1px solid rgba($stat-border, 0.5);
        transition: background-color 0.3s;
        cursor: pointer;

        &:last-of-type {
          border-bottom: none;
        }
  
        &:hover {
          background-color: rgba($brew-list-hover, 0.4);
        }

        .mash_label {
          display: inline-block;
          padding-bottom: 2px;
          font-weight: $weight-semibold;
          color: $brew-callout;
        }

        .section__values {
          padding: 0;
  
          @include for-tablet-landscape-up () {
            grid-template-columns: 50% 50%;
          }
  
          @media (min-width: 1150px) {
            grid-template-columns: 30% 20% 20% 30%;
          }
        }
      }
    }

    &.fermentation {
      .section__values {
        @include for-tablet-landscape-up () {
          grid-template-columns: 30% 30%;
        }
      }
    }

    .withStats {
      min-height: 85px;

      @include for-tablet-landscape-up () {
        min-height: 60px;
      }
    }

    .section__stats {
      display: flex;
      align-items: center;
      position: absolute;
      left: 50%;
      transform: translateY(-5px);

      @include for-tablet-portrait-up () {
        left: 60%;
        transform: translateY(-35px);
      }

      @include for-tablet-landscape-up () {
        left: 56%;
        transform: translateY(-45px);
      }

      @media (min-width: 1000px) {
        left: 65%;
        transform: translateY(-45px);
      }

      .brew__stat {
        width: 60px;
        height: 60px;
        margin: 0;

        @include for-tablet-portrait-up () {
          width: 78px;
          height: 78px;
        }

        .value {
          margin-top: 4px;
          font-size: px-to-rem(13px);
          font-weight: $weight-light;
          line-height: 1;

          @include for-tablet-portrait-up () {
            font-size: px-to-rem(17px);
            font-weight: $weight-regular;
          }
        }
      }

      .arrow {
        margin: 5px;
        width: 24px;
        height: 14px;
        background-image: url('../../resources/images/arrow.svg');
      }
    }
  }

  &__notes {
    margin: 0 15px;
    padding-bottom: 20px;
    line-height: 1.6;

    p {
      margin-top: 0;
    }
  }

  .tagsWrapper {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0 15px 20px;

    * {
      margin: 0 0 5px 5px;
    }
  }

  .tagsButton {
    width: 25px;
    height: 25px;
    padding: 0;
    font-size: 0;
    border-radius: 25px;
    background-image: url('../../resources/images/tag.svg');
    background-position: 4px 3px;
    background-repeat: no-repeat;
    background-color: rgba($button-brown-bg, 0.5);
    box-shadow: none;

    &:hover {
      background-color: $stat-background;
    }
  }

  .editButton {
    position: absolute;
    top: 12px;
    right: 15px;
    background-color: $button-default-bg;
    box-shadow: 0 2px 10px rgba($button-shadow, 0.3);
  }

  .saveButton {
    position: relative;
    padding: 0 20px;
    width: 280px;
    left: 50%;
    margin-left: -140px;
    transition: padding 0.4s;

    &.saving {
      padding-right: 50px;
    }
  }
}

.loader {
  position: relative;
  left: 50%;
  margin-left: -23px;
  transform: translateY(33vh);
}

.savingLoader {
  position: absolute;
  top: 4px;
}