@import '../../styles/variables';
@import '../../styles/utilities';
@import '../../styles/type';

.brew {
  display: grid;
  grid-template-columns: 66.7% calc(33.3% - 20px);
  grid-template-areas: 'main aside';
  grid-column-gap: 20px;
  padding-bottom: 50px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  transform: translateX(16.65%);
  transition: transform 0.5s;
  perspective: 1000px;

  .mainContent {
    grid-area: main;
    max-width: 800px;
  }

  .sideBar {
    box-sizing: border-box;
    grid-area: aside;
    padding-top: 54px;
    max-width: 380px;
    opacity: 0;
    transform-style: preserve-3d;
    transform: rotate3d(0, 1, 0, -115deg) rotateZ(5deg) rotateX(-0.6deg);
    transform-origin: bottom center 100px;
    transition: opacity 0.5s, transform 0.5s cubic-bezier(.53,.01,.4,.99);
  }

  &.open {
    transform: translateX(0);

    .sideBar {
      opacity: 1;
      transform: rotate3d(0, 1, 0, 0deg) rotateZ(0deg);
      transition: opacity 0.5s, transform 0.5s cubic-bezier(.19,.19,.04,.99);
    }
  }

  .formsContainer {
    padding: 15px;
    position: relative;
  }

  .new {
    border-top: 5px solid $brew-card-bg;
  }

  .view {
    border-top: 5px solid $brew-card-bg-view;
  }

  .settings {
    color: $text-dark;
    font-weight: $weight-medium;
    font-size: px-to-rem(12px);

    &:hover {
      color: $link-hover;
    }
  }

  .dateBrewed {
    margin-left: px-to-rem(20px);
  }

  &__pageHeading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;

    h1 {
      button {
        opacity: 0;
        transition: opacity 0.3s;
      }

      &:hover,
      &:focus {
        button {
          opacity: 1;
        }
      }
    }
  }

  .nameInput {
    border: 0;
    background: transparent;
    outline: none;
    padding: 0;
    @extend h1;
    font-family: $montserrat;
  }

  &__numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }

  &__numbersList {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      margin: 12px 0;
      font-weight: $weight-semibold;

      button.edit {
        opacity: 0;
        transition: opacity 0.3s;
      }

      &:hover {
        button.edit {
          opacity: 1;
        }
      }
    }
  }

  .edit {
    svg {
      width: 15px;
      height: 15px;
      margin-left: 8px;
      fill: $brew-callout;
    }

    &:hover {
      svg {
        fill: darken($brew-callout, 9%);
      }
    }
  }

  &__stats {
    display: flex;
    margin: 20px 0;
  }

  &__stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 12px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid rgba($stat-border, 0.5);
    background-color: rgba($stat-background, 0.4);
    text-align: center;

    .value {
      min-height: 35px;
      font-size: px-to-rem(24px);
      font-weight: $weight-light;
    }

    .label {
      font-weight: $weight-semibold;
    }

    .srmSwatch {
      display: inline-block;
      margin-right: 4px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid $stat-background;
      transform: translateY(-3px);
    }
  }

  &__header {
    display: flex;
    position: relative;

    h2,
    span {
      display: block;
      box-sizing: border-box;
      padding: 15px;
      margin: 0;
      width: 29%;
      font-weight: $weight-medium;
      font-size: px-to-rem(15px);
      text-transform: uppercase;
    }

    span {
      width: 42%;
      text-align: center;
      text-transform: none;
      color: $brew-callout;
    }
  }

  &__ingredients {
    li {
      display: grid;
      grid-template-columns: 16% 42% 14% 14% auto;
    }

    &.yeast {
      li {
        grid-template-columns: 16% 42% auto;
      }
    }
  }

  &__editingSection,
  &__section {
    button.editButton {
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:hover {
      button.editButton {
        opacity: 1;
      }
    }
  }

  &__section {
    position: relative;
    border-bottom: 1px solid rgba($stat-border, 0.5);

    .section__values {
      display: grid;
      grid-template-columns: 30% 20% 20% 30%;
      padding: 15px 15px 25px;
      line-height: 1.5;
    }

    .withStats {
      min-height: 60px;
    }

    .section__stats {
      display: flex;
      align-items: center;
      position: absolute;
      left: 69%;
      transform: translateY(-50px);

      .brew__stat {
        width: 78px;
        height: 78px;
        margin: 0;

        .value {
          margin-top: 4px;
          min-height: 25px;
          font-size: px-to-rem(17px);
          font-weight: $weight-regular;
        }
      }

      .arrow {
        margin: 5px;
        width: 24px;
        height: 14px;
        background-image: url('../../resources/images/arrow.svg');
      }
    }
  }

  &__notes {
    margin: 0 15px;
    padding-bottom: 35px;
    line-height: 1.6;

    p {
      margin-top: 0;
    }
  }

  .editButton {
    position: absolute;
    top: 12px;
    right: 15px;
  }

  .saveButton {
    position: relative;
    padding: 0 20px;
    width: 280px;
    left: 50%;
    margin-left: -150px;
  }
}