@import "./variables";
@import "./utilities";

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 12px 15px;
  height: 42px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba($button-shadow, 0.3);
  background-color: $button-default-bg;
  cursor: pointer;
  outline: none;
  color: $button-default-text;
  font-weight: $weight-semibold;
  font-family: $montserrat;
  font-size: px-to-rem(13px);
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.5s;

  &:hover,
  &:focus {
    background-color: darken(
      desaturate(adjust-hue($button-default-bg, -5%), 5%),
      5%
    );
  }

  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }

  // COLORS
  &--yellow {
    box-shadow: 0 10px 30px rgba($black, 0.15);
    background-color: $button-yellow;
    color: $text-dark;

    &:hover,
    &:focus {
      background-color: darken(
        desaturate(adjust-hue($button-yellow, -5%), 5%),
        5%
      );
    }
  }

  &--brown {
    box-shadow: 0 10px 30px rgba($black, 0.15);
    background-color: rgba($button-brown-bg, 0.5);
    color: $text-dark;

    &:hover,
    &:focus {
      background-color: darken(
        desaturate(adjust-hue(rgba($button-brown-bg, 0.5), -5%), 5%),
        5%
      );
    }
  }

  &--light-brown {
    box-shadow: 0 10px 30px rgba($black, 0.15);
    background-color: $button-light-brown;
    color: $text-dark;

    &:hover,
    &:focus {
      background-color: darken(
        desaturate(adjust-hue($button-light-brown, -5%), 5%),
        5%
      );
    }
  }

  &--green {
    box-shadow: 0 10px 30px rgba($black, 0.15);
    background-color: $button-green-bg;
    color: $button-default-text;

    &:hover,
    &:focus {
      background-color: darken(
        desaturate(adjust-hue($button-green-bg, -5%), 5%),
        5%
      );
    }
  }

  &--red {
    box-shadow: 0 10px 30px rgba($black, 0.15);
    background-color: $button-red-bg;
    color: $text-dark;

    &:hover,
    &:focus {
      background-color: darken(
        desaturate(adjust-hue($button-red-bg, -5%), 5%),
        5%
      );
    }
  }

  &--error {
    box-shadow: 0 10px 30px rgba($black, 0.15);
    background-color: $button-error-bg;
    color: $button-default-text;

    &:hover,
    &:focus {
      background-color: darken(
        desaturate(adjust-hue($button-error-bg, -5%), 5%),
        5%
      );
    }
  }

  &--no-button {
    background: transparent;
    box-shadow: none;
    color: $link;
    transition: color 0.5s;

    &:hover,
    &:focus {
      color: $link-hover;
      background: transparent;
    }
  }

  &--link {
    display: inline;
    padding: 0;
    margin: 0;
    height: inherit;
    background: transparent;
    box-shadow: none;
    color: $link;
    transition: color 0.5s;

    &:hover,
    &:focus {
      color: $link-hover;
      background: transparent;
    }
  }

  &--small {
    padding: 5px 15px;
    height: 36px;
    font-size: px-to-rem(11px);
  }

  &--large {
    padding: 11px 40px;
    height: 45px;
    font-weight: $weight-medium;
    font-style: italic;
    font-size: px-to-rem(16px);

    @include for-tablet-landscape-up {
      padding: 15px 40px;
      height: 52px;
    }
  }

  &--page {
    margin-right: 5px;
    padding: 5px;
    width: 30px;
    height: auto;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: none;
    text-align: center;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s;

    &:hover {
      color: $button-link-hover;
      background-color: rgba(saturate($button-default-bg, 75%), 0.5);
    }

    &.on {
      border-color: $button-yellow;
      cursor: default;

      &:hover {
        border-color: $button-link-hover;
        background-color: rgba(saturate($button-default-bg, 75%), 0.5);
      }

      &:focus {
        background-color: transparent;
      }
    }
  }

  &--icon,
  &--icon-large {
    position: relative;
    padding: 0;
    width: 27px;
    height: 27px;

    span {
      visibility: hidden;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 28px;
      height: 27px;
    }

    &.plus {
      &::before {
        content: "+";
        color: $button-yellow;
        font-size: px-to-rem(31px);
        line-height: 0.8;
        font-weight: $weight-light;
      }
    }

    &.pen {
      $color: rgba($button-yellow, 0.99);

      &::before {
        content: '';
        background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 512 512'><path d='M512 80c0-44.183-35.817-80-80-80-26.174 0-49.409 12.572-64.004 32.004l-287.996 287.996 112 112 287.996-287.996c19.432-14.595 32.004-37.83 32.004-64.004z' fill='#{$color}'></path><path d='M0 512l48-160 112 112z' fill='#{$color}'></path></svg>");
        background-repeat: no-repeat;
        background-position: 7px 6px;
      }
    }

    &.gear {
      $color: rgba($text-dark, 0.99);

      &::before {
        content: '';
        background-image: url("data:image/svg+xml;utf8,<svg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M12.5 16.6525C10.2096 16.6525 8.34754 14.7904 8.34754 12.5C8.34754 10.2096 10.2096 8.34658 12.5 8.34658C14.7904 8.34658 16.6525 10.2096 16.6525 12.5C16.6525 14.7904 14.7904 16.6525 12.5 16.6525ZM14.3218 24H10.6772C10.0246 22.1619 9.92496 21.4 8.97812 21.0071C8.015 20.6056 7.31925 21.1336 5.65654 21.9195L3.07958 19.3425C3.91621 17.582 4.38962 16.9802 3.99287 16.0219C3.59804 15.0722 2.85054 14.9802 1 14.3228V10.6772C2.82658 10.0275 3.599 9.92783 3.99287 8.97812C4.38675 8.02842 3.92483 7.43233 3.07958 5.65654L5.65654 3.08054C7.325 3.87404 8.01979 4.38867 8.97717 3.99383C9.92783 3.599 10.0141 2.85821 10.6782 1H14.3218C14.9754 2.83808 15.077 3.60092 16.0219 3.99287C16.9812 4.39154 17.6597 3.87883 19.3444 3.08054L21.9195 5.65654C21.078 7.42658 20.6152 8.03033 21.0071 8.97717C21.401 9.92783 22.1495 10.0189 24 10.6772V14.3237C22.1734 14.9725 21.4 15.0731 21.0062 16.0228C20.62 16.9572 21.0483 17.5188 21.9204 19.3425L19.3444 21.9195C17.6884 21.1336 16.9802 20.6065 16.0324 21.0042C15.0856 21.3972 14.9974 22.1025 14.3218 24Z' stroke='#{$color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
        background-repeat: no-repeat;
        background-position: 6px 6px;
      }
    }

    &.eq {
      $color: rgba($text-dark, 0.99);

      &::before {
        content: '';
        background-image: url("data:image/svg+xml;utf8,<svg width='25' height='22' viewBox='0 0 25 22' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12.322 1.3302V4.35424M12.322 20.8975L12.322 10.7581' stroke='#{$color}' stroke-width='1.5' stroke-linecap='round'/><path d='M20.8605 1.3302V7.84087M20.8605 20.8975V14.3692' stroke='#{$color}' stroke-width='1.5' stroke-linecap='round'/><path d='M3.78357 1.3302L3.78357 12.1812M3.78357 20.8975L3.78357 18.6904' stroke='#{$color}' stroke-width='1.5' stroke-linecap='round'/><rect x='1.11536' y='14.3159' width='5.33654' height='2.13462' stroke='#{$color}' stroke-width='1.5' stroke-linejoin='round'/><rect x='9.65381' y='6.48889' width='5.33654' height='2.13462' stroke='#{$color}' stroke-width='1.5' stroke-linejoin='round'/><rect x='18.1923' y='10.0469' width='5.33654' height='2.13462' stroke='#{$color}' stroke-width='1.5' stroke-linejoin='round'/></svg>");
        background-repeat: no-repeat;
        background-position: 6px 7px;
      }
    }

    &.clone {
      $color: rgba($text-dark, 0.99);

      &::before {
        content: '';
        background-image: url("data:image/svg+xml;utf8,<svg width='27' height='20' viewBox='0 0 27 20' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M25.8719 5.04761L24.6059 17.8776C22.4067 18.9181 20.0881 19.0337 18 18.1931' stroke='#{$color}' stroke-width='1.5' stroke-linejoin='round'/><path fill-rule='evenodd' clip-rule='evenodd' d='M19.3631 6.34564L20.6347 7.66993L20.6107 7.21498C20.7215 7.21664 20.8332 7.21721 20.9456 7.21668C22.3405 7.21012 23.6487 7.0341 24.6467 6.72597C25.1381 6.57425 25.6231 6.36978 26.011 6.08807C26.3704 5.82701 26.8808 5.32012 26.8735 4.54404C26.8658 3.71632 26.2787 3.20473 25.8972 2.95513C25.6086 2.76633 25.2705 2.61338 24.9118 2.48898C24.3423 1.637 23.2963 1.14899 22.227 1.41824C21.3144 0.402892 19.7674 0.0943772 18.445 0.504307C17.2904 0.862264 16.3394 1.73337 15.9788 2.83228C16.0252 2.87328 16.0703 2.91642 16.1137 2.96167L16.9328 3.81468C16.9622 3.80071 16.9924 3.78689 17.0234 3.77325C17.0371 2.86252 17.7412 1.97885 18.8004 1.65049C19.6654 1.38231 20.5448 1.55357 21.1248 2.03032C21.3984 2.25521 21.6054 2.5481 21.713 2.8949C21.7368 2.97188 21.7551 3.04945 21.7681 3.12727C21.8555 2.98992 21.9677 2.86968 22.101 2.77459C22.2054 2.70012 22.3227 2.64107 22.4509 2.60131C22.5792 2.56155 22.7093 2.54391 22.8375 2.54627L22.8614 2.54695C23.3943 2.56714 23.8902 2.93206 24.0785 3.48924C25.0537 3.7482 25.6696 4.12858 25.6736 4.55521C25.6806 5.30733 23.7832 5.93366 21.3578 6.00923C21.2507 6.01257 21.1425 6.01483 21.0334 6.01598L20.9399 6.0167C20.8077 6.01732 20.6768 6.0163 20.5472 6.01369C20.2325 6.00736 19.9264 5.99169 19.632 5.96758C19.5339 5.95954 19.4371 5.95057 19.3417 5.9407L19.3631 6.34564Z' fill='#{$color}'/><path d='M12.4601 8.56874H14.4994V4.51929L21.527 11.6347L14.4994 18.7501V14.7006H11.9401' stroke='#{$color}' stroke-width='1.5' stroke-linejoin='round'/><path d='M1.03015 5.22348L2.39751 17.8775C4.65581 19.0479 7.24664 19.0335 9.69007 17.8775L10.9561 5.0475' stroke='#{$color}' stroke-width='1.5' stroke-linejoin='round'/><path d='M1.60309 5.83538C1.96385 6.02594 2.41908 6.18163 2.93131 6.30242L3.03401 8.24667C3.0434 8.42448 3.08778 8.69178 3.22429 8.9337C3.37324 9.19768 3.67692 9.48826 4.15551 9.46298C4.6341 9.4377 4.90547 9.11675 5.02579 8.83855C5.13605 8.58359 5.15203 8.3131 5.14264 8.13529L5.06115 6.59249C5.37418 6.60985 5.6971 6.61816 6.02695 6.61661C7.37982 6.61024 8.62656 6.43889 9.55387 6.15259C10.0137 6.01061 10.4293 5.83003 10.7425 5.60252C11.0415 5.38534 11.3623 5.03693 11.3577 4.54954C11.3529 4.029 10.9818 3.67232 10.6529 3.45712C10.3663 3.26966 10.0034 3.1152 9.59805 2.98989C9.17469 2.19824 8.25755 1.74905 7.35733 2.02813C7.26708 2.05611 7.1806 2.09048 7.09818 2.13056C6.42341 1.07806 4.98948 0.679662 3.70677 1.07731C2.57888 1.42697 1.72377 2.3282 1.54278 3.38443C1.36557 3.48401 1.20349 3.59759 1.06815 3.72775C0.853093 3.93459 0.660227 4.23043 0.663717 4.60541C0.669494 5.226 1.18789 5.61606 1.60309 5.83538Z' stroke='#{$color}' stroke-width='1.5'/><path d='M6.91821 9.21154C8.87494 9.21154 10.5 8.5 10.5 8.5' stroke='#{$color}' stroke-width='1.5' stroke-linecap='round'/><path d='M6.91821 11.4845C8.34798 11.4845 9.68278 11.1046 10.298 10.9' stroke='#{$color}' stroke-width='1.5' stroke-linecap='round'/><path d='M6.91821 13.7729C8.11478 13.7729 9.24482 13.5068 9.94225 13.3' stroke='#{$color}' stroke-width='1.5' stroke-linecap='round'/><path d='M6.91821 16.0731C7.92851 16.0731 8.89139 15.8834 9.58648 15.7' stroke='#{$color}' stroke-width='1.5' stroke-linecap='round'/></svg>");
        background-repeat: no-repeat;
        background-position: 5px 9px;
      }
    }

    &.results {
      $color: rgba($text-dark, 0.99);

      &::before {
        content: '';
        background-image: url("data:image/svg+xml;utf8,<svg width='27' height='25' viewBox='0 0 27 25' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M8.50037 9.53093L9.43297 18.1616C10.9733 18.9599 12.7403 18.9501 14.4069 18.1616L15.2703 9.41089' stroke='#{$color}' stroke-width='1.5' stroke-linejoin='round'/><path d='M11.4957 11.5067L11.4513 10.665C11.6015 10.6704 11.7545 10.6728 11.9096 10.6721C12.8457 10.6677 13.7156 10.5493 14.3705 10.3471C14.6942 10.2472 14.9997 10.1164 15.2371 9.94399C15.4602 9.78192 15.7393 9.49389 15.7354 9.06968C15.7311 8.61697 15.4094 8.32445 15.1683 8.16673C14.9717 8.03816 14.7328 7.93347 14.4733 7.84851C14.1297 7.27806 13.4427 6.95729 12.7595 7.16907C12.7422 7.17442 12.7251 7.18007 12.7082 7.18601C12.1659 6.48419 11.1538 6.24638 10.27 6.52036C9.4738 6.7672 8.84681 7.39473 8.67958 8.15594C8.57652 8.21946 8.47965 8.29144 8.39447 8.37334C8.2253 8.53599 8.05694 8.7849 8.05998 9.11134C8.065 9.65005 8.51175 9.96363 8.80221 10.1171C9.03187 10.2384 9.30886 10.3382 9.61396 10.418L9.67654 11.6028C9.68387 11.7415 9.71819 11.9557 9.83068 12.1551C9.95562 12.3765 10.2213 12.635 10.642 12.6128C11.0627 12.5906 11.2997 12.3055 11.4006 12.0721C11.4915 11.862 11.503 11.6454 11.4957 11.5067Z' stroke='#{$color}' stroke-width='1.5'/><path d='M20.6972 5.76429C22.1407 7.62543 23 9.96236 23 12.5C23 18.5751 18.0751 23.5 12 23.5C5.92487 23.5 1 18.5751 1 12.5C1 6.42487 5.92487 1.5 12 1.5C14.2136 1.5 16.2744 2.15384 18 3.27893' stroke='#{$color}' stroke-width='1.5' stroke-linecap='round'/><path d='M25.923 6.01282C26.2473 6.0807 26.4552 6.39866 26.3873 6.723C26.3194 7.04735 26.0015 7.25525 25.6771 7.18737L25.923 6.01282ZM20.486 5.48799L19.916 5.30079C20.0113 5.01039 20.3098 4.8381 20.6089 4.90071L20.486 5.48799ZM19.3622 10.8333C19.2588 11.1482 18.9198 11.3196 18.6049 11.2162C18.2901 11.1128 18.1187 10.7738 18.2221 10.4589L19.3622 10.8333ZM25.6771 7.18737L20.3631 6.07526L20.6089 4.90071L25.923 6.01282L25.6771 7.18737ZM21.0561 5.67519L19.3622 10.8333L18.2221 10.4589L19.916 5.30079L21.0561 5.67519Z' fill='#{$color}'/></svg>");
        background-repeat: no-repeat;
        background-position: 6px 7px;
      }
    }

    &:hover,
    &:focus {
      &.plus {
        &::before {
          color: $white;
        }
      }

      &.pen {
        &::before {
          $color: rgba($white, 0.99);
          background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 512 512'><path d='M512 80c0-44.183-35.817-80-80-80-26.174 0-49.409 12.572-64.004 32.004l-287.996 287.996 112 112 287.996-287.996c19.432-14.595 32.004-37.83 32.004-64.004z' fill='#{$color}'></path><path d='M0 512l48-160 112 112z' fill='#{$color}'></path></svg>");
        }
      }
    }
  }

  &--icon-large {
    width: 37px;
    height: 37px;

    &::before {
      width: 37px;
      height: 37px;
    }
  }

  &--no-shadow {
    box-shadow: none;
  }
}
