@import "./variables";
@import "./utilities";

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 12px 15px;
  height: 42px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba($button-shadow, 0.3);
  background-color: $button-default-bg;
  cursor: pointer;
  outline: none;
  color: $button-default-text;
  font-weight: $weight-semibold;
  font-family: $montserrat;
  font-size: px-to-rem(13px);
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.5s;

  &:hover,
  &:focus {
    background-color: darken(
      desaturate(adjust-hue($button-default-bg, -5%), 5%),
      5%
    );
  }

  // COLORS
  &--yellow {
    box-shadow: 0 10px 30px rgba($black, 0.15);
    background-color: $button-yellow;
    color: $text-dark;

    &:hover,
    &:focus {
      background-color: darken(
        desaturate(adjust-hue($button-yellow, -5%), 5%),
        5%
      );
    }
  }

  &--brown {
    box-shadow: 0 10px 30px rgba($black, 0.15);
    background-color: rgba($button-brown-bg, 0.5);
    color: $text-dark;

    &:hover,
    &:focus {
      background-color: darken(
        desaturate(adjust-hue(rgba($button-brown-bg, 0.5), -5%), 5%),
        5%
      );
    }
  }

  &--green {
    box-shadow: 0 10px 30px rgba($black, 0.15);
    background-color: $button-green-bg;
    color: $button-default-text;

    &:hover,
    &:focus {
      background-color: darken(
        desaturate(adjust-hue($button-green-bg, -5%), 5%),
        5%
      );
    }
  }

  &--red {
    box-shadow: 0 10px 30px rgba($black, 0.15);
    background-color: $button-red-bg;
    color: $text-dark;

    &:hover,
    &:focus {
      background-color: darken(
        desaturate(adjust-hue($button-red-bg, -5%), 5%),
        5%
      );
    }
  }

  &--error {
    box-shadow: 0 10px 30px rgba($black, 0.15);
    background-color: $button-error-bg;
    color: $button-default-text;

    &:hover,
    &:focus {
      background-color: darken(
        desaturate(adjust-hue($button-error-bg, -5%), 5%),
        5%
      );
    }
  }

  &--no-button {
    background: transparent;
    box-shadow: none;
    color: $link;
    transition: color 0.5s;

    &:hover,
    &:focus {
      color: $link-hover;
      background: transparent;
    }
  }

  &--link {
    display: inline;
    padding: 0;
    margin: 0;
    height: auto;
    background: transparent;
    box-shadow: none;
    color: $link;
    transition: color 0.5s;

    &:hover,
    &:focus {
      color: $link-hover;
      background: transparent;
    }
  }

  &--small {
    padding: 5px 15px;
    height: 36px;
    font-size: px-to-rem(11px);
  }

  &--large {
    padding: 15px 40px;
    height: 52px;
    font-weight: $weight-medium;
    font-style: italic;
    font-size: px-to-rem(16px);
  }

  &--page {
    margin-right: 5px;
    padding: 5px;
    width: 30px;
    height: auto;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s;

    &:hover {
      color: $button-link-hover;
      background-color: rgba(saturate($button-default-bg, 75%), 0.5);
    }

    &.on {
      border-color: $button-yellow;
      cursor: default;

      &:hover {
        border-color: $button-link-hover;
        background-color: rgba(saturate($button-default-bg, 75%), 0.5);
      }

      &:focus {
        background-color: transparent;
      }
    }
  }

  &--icon {
    position: relative;
    padding: 0;
    width: 27px;
    height: 27px;

    span {
      visibility: hidden;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 28px;
      height: 27px;
    }

    &.plus {
      &::before {
        content: "+";
        color: $button-yellow;
        font-size: px-to-rem(31px);
        line-height: 0.8;
        font-weight: $weight-light;
      }
    }

    &.pen {
      $color: rgba($button-yellow, 0.99);

      &::before {
        content: '';
        background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 512 512'><path d='M512 80c0-44.183-35.817-80-80-80-26.174 0-49.409 12.572-64.004 32.004l-287.996 287.996 112 112 287.996-287.996c19.432-14.595 32.004-37.83 32.004-64.004z' fill='#{$color}'></path><path d='M0 512l48-160 112 112z' fill='#{$color}'></path></svg>");
        background-repeat: no-repeat;
        background-position: 7px 6px;
      }
    }

    &:hover,
    &:focus {
      &.plus {
        &::before {
          color: $white;
        }
      }

      &.pen {
        &::before {
          $color: rgba($white, 0.99);
          background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 512 512'><path d='M512 80c0-44.183-35.817-80-80-80-26.174 0-49.409 12.572-64.004 32.004l-287.996 287.996 112 112 287.996-287.996c19.432-14.595 32.004-37.83 32.004-64.004z' fill='#{$color}'></path><path d='M0 512l48-160 112 112z' fill='#{$color}'></path></svg>");
        }
      }
    }
  }

  &--no-shadow {
    box-shadow: none;
  }
}
