@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500i,600');
@import './utilities';

$montserrat: 'Montserrat', sans-serif;

h1 {
  margin: 0;
  font-weight: 300;
  font-size: px-to-rem(28px);
}