// COLORS
// grayscale
$black: #191919;
$dark-gray: #2b2b2b;
$white: #ffffff;

// color
$tar: #2e2318;
$brown: #58382a;
$caramel: #ab5c00;
$coral: #e9662c;
$embers: #ff6b00;
$amber: #dd8c0b;
$gold: #ebaf3c;
$canary: #f4d03f;
$forsythia: #ffdb4a;
$cream: #fff7da;
$seafoam: #16a05e;

// Color assignments
$site-bg: $black;
$header-bg: $dark-gray;
$footer-bg: $black;

$text-light: $white;
$text-dark: $tar;

// FONTS
$base-font-size: 14px;

// LAYOUT
$header-height: 55px;
$footer-height: 40px;