@import '../../styles/variables';
@import '../../styles/utilities';

.allBrews {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  margin-bottom: 90px;

  .topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include for-tablet-portrait-up () {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      &::before {
        content: '';
        width: 100%;
        order: 2;
      }
    }

    @include for-tablet-landscape-up () {
      justify-content: space-between;

      &::before {
        content: none;
      }
    }

    h1 {
      margin: 0 0 15px 0;
      order: 1;

      @include for-tablet-portrait-up () {
        margin: 0 0 5px 0;
        width: 100%;
        text-align: center;
      }

      @include for-tablet-landscape-up () {
        width: auto;
        text-align: left;
      }
    }

    &__container {
      order: 2;
      width: 100%;
      display: flex;

      @include for-tablet-portrait-up () {
        width: 55%;
      }

      @include for-tablet-landscape-up () {
        width: 35%;
      }

      input.search {
        padding: 0 50px 0 15px;
        margin: 0;
        background-color: rgba($default-card-bg, 0.15);
        color: $search-text;
        background-image: url('../../resources/images/search.svg');
        background-repeat: no-repeat;
        background-position: calc(100% - 15px) 12px;
  
        &::placeholder {
          color: rgba($error-color, 0.5);
        }
      }

      .sortButton {
        position: relative;

        &::before,
        &::after {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          width: 10px;
          height: 10px;
        }

        &::before {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' class='svg-triangle' width='10' height='10' viewBox='0 0 13 13'><path d='M 5,6 10,0 0,0 z' fill='rgb(233, 102, 44)' /></svg>");
          transform: rotate(180deg);
          top: 9px;
        }

        &::after {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' class='svg-triangle' width='10' height='10' viewBox='-3 0 13 13'><path d='M 5,6 10,0 0,0 z' fill='rgb(233, 102, 44)' /></svg>");
          top: 22px;
        }
      }
    }

    a {
      order: 3;
      margin-left: 20px;

      @include for-phone-only () {
        position: fixed;
        bottom: 80px;
        right: 10px;
        width: 90px;
        height: 90px;
        padding: 22px 0 0;
        border-radius: 50%;
        text-align: center;
        z-index: 10;
        box-shadow: 0 5px 15px 2px darken($text-dark, 3%);
        font-weight: $weight-regular;
      }
    }
  }

  .sortMenuContainer {
    display: flex;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.3s cubic-bezier(.19,.19,.04,.99);

    &.open {
      max-height: 150px;
      overflow: visible;
    }
  }

  .sortMenu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    margin: 30px auto 0;
    width: 100%;
    padding: 20px 0 0;
    border-top: 1px solid darken($dashboard-border, 5%);

    @include for-tablet-portrait-up () {
      padding: 20px 20px 10px;
      flex-direction: row;
      width: auto;
    }

    > div {
      @include for-phone-only () {
        width: 50%;
        margin-bottom: 10px;
        padding-bottom: 10px;
      }

      @include for-tablet-portrait-up () {
        &:not(:last-child) {
          margin-right: 5vw;
        }
      }
    }

    label {
      font-weight: $weight-medium;
      color: $error-color;
    }

    &__column {
      ul {
        list-style-type: none;
        margin: 5px 0 0;
        padding: 0;

        li {
          &:hover {
            cursor: pointer;
          }

          label {
            color: $label-color;
            font-weight: $weight-regular;
          }
        }
      }

      [class~="select"] {
        width: 200px;
      }
    }

    .filterInput {
      width: 180px;
    }

    .countInput {
      width: 100px;
      min-width: 100px;
    }
  }

  &__header {
    color: $text-light;
    margin-bottom: 5px;
  }

  .brewLogHeader {
    display: grid;
    grid-template-columns: 22% 22% 22% 27% 10%;
    padding: 17px 15px;
    margin-top: 20px;
    transition: background-color 0.3s;

    @include for-tablet-portrait-up () {
      grid-template-columns: 53% 10% 10% 10% 13% auto;
    }

    @include for-tablet-landscape-up () {
      grid-template-columns: 57% 10% 10% 10% 11% auto;
    }

    .nameCol {
      @include for-phone-only () {
        display: none;
      }
    }

    label {
      color: $error-color;
      text-transform: uppercase;
      font-weight: $weight-medium;
      white-space: nowrap;
      font-size: px-to-rem(9px);

      @include for-tablet-portrait-up () {
        font-size: px-to-rem(11px);
      }

      &.nameCol {
        width: 55%;
      }
    }
  }

  .fixedHeader {
    position: fixed;
    top: 0;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 40px);
    max-width: 1400px;
    background-color: desaturate(darken($default-bg-1, 9%), 13%);
    z-index: 10;;
  }

  .brewLog {
    display: flex;
    flex-direction: column;

    li {
      transition: all 0.3s;
    }

    &__item {
      position: relative;
      display: grid;
      grid-template-areas:
        'nameCol nameCol nameCol nameCol nameCol'
        'abvCol ibuCol srmCol dateCol moreCol';
      grid-template-columns: 22% 22% 22% 27% 10%;
      align-items: center;
      cursor: pointer;
      color: $text-light;

      @include for-tablet-portrait-up () {
        grid-template-areas:
          'nameCol abvCol ibuCol srmCol dateCol moreCol';
        grid-template-columns: 53% 10% 10% 10% 13% auto;
      }

      @include for-tablet-landscape-up () {
        grid-template-columns: 57% 10% 10% 10% 11% auto;
      }

      &.child {
        background-color: rgba(darken(desaturate($default-card-bg, 60%), 45%), 0.2);

        &:hover,
        &:focus {
          background-color: rgba($default-card-bg, 0.15);
        }

        &::after {
          content: '';
          position: absolute;
          left: 18px;
          display: block;
          left: 16px;
          width: 6px;
          height: 6px;
          background-color: $honey;
          border-radius: 50%;
        }

        .nameCol {
          text-indent: 15px;
        }
      }

      .nameCol {
        grid-area: nameCol;

        span {
          padding-top: 3px;
          color: $label-color;
          font-size: px-to-rem(10px);
          line-height: 0;
          letter-spacing: 0.03em;
  
          &.pill {
            display: inline-flex;
            height: 15px;
            align-content: center;
            padding: 1px 2px 0;
            margin-left: 8px;
            transform: translateY(-1px);
            border-radius: 3px;
            background-color: $label-color;
            line-height: 1.3;
            color: $text-dark;
          }
        }
      }

      .abvCol {
        grid-area: abvCol;
      }

      .ibuCol {
        grid-area: ibuCol;
      }

      .srmCol {
        grid-area: srmCol;
      }

      .dateCol {
        grid-area: dateCol;
      }

      > span {
        padding-top: 2px;
        color: $label-color;
        font-size: px-to-rem(10px);
        letter-spacing: 0.03em;

        &:last-child {
          text-align: right;
        }
      }

      .srmSwatch {
        display: inline-block;
        margin-right: 5px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        border: 1px solid $label-color;
        transform: translateY(1px);
      }
    }
  }

  .brewLogPages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    button {
      margin-bottom: 6px;

      &:hover {
        background-color: rgba(darken(saturate($button-default-bg, 25%), 2.5%), 0.8);
      }
    }
  }
}

.loader {
  margin: 19px auto;
}

.brewLInk {
  display: block;
  margin: 20px auto;
  width: 180px;
  text-align: center;
}

.moreMenuWrapper {
  grid-area: moreCol;
  position: relative;
  width: 25px;
}

.kebab {
  position: absolute;
  width: 25px;
  right: -3px;
  top: -9px;

  &:hover {
    span {
      background-color: $label-color;
    }
  }

  span {
    display: block;
    margin: 2px 0 2px 10px;
    width: 5px;
    height: 5px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: darken($text-dark, 3%);
    transition: background-color 0.3s;
  }

  span:first-child {
    margin-top: 0;
  }

  span:last-child {
    margin-bottom: 0;
  }
}

.moreMenu {
  padding-top: 9px;
}

.moreButton {
  padding: 0;
  margin: 0;
  height: auto;
}

.divider {
  border: none;
  border-bottom: 1px solid $tooltip-border;
}