@import '../../styles/variables';
@import '../../styles/utilities';

.profile {
  margin: 0 auto;
  max-width: 600px;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .profilePic {
      width: 80px;
      height: 80px;
      margin-bottom: 10px;
    }
  }

  h1 {
    margin-bottom: 20px;
    color: $text-light;
    text-align: center;

    > span {
      margin-top: 3px;
      display: block;
      font-size: px-to-rem(11px);
      color: $error-color;
    }
  }

  label {
    color: $label-color;
  }
}

.form {
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
  }
}