@import './styles/variables';
@import './styles/type';
@import './styles/buttons';
@import './styles/forms';

body {
  margin: 0;
  padding: 0;
  background-color: $site-bg;
  font-family: $montserrat;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div,
section {
  box-sizing: border-box;
}

strong {
  font-weight: $weight-semibold;
}