@import '../../styles/variables';
@import '../../styles/utilities';

.dashboard {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  grid-template-areas:
    'topRow topRow'
    'leftColumn rightColumn';

  @include for-tablet-landscape-up () {
    grid-template-areas:
      'topRow topRow'
      'leftColumn rightColumn';
    grid-template-columns: 0.5fr 0.5fr;
  }

  .topRow {
    grid-area: topRow;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .leftColumn {
    grid-area: leftColumn;
  }

  .rightColumn {
    grid-area: rightColumn;
  }

  .flex {
    display: flex;
  }

  &__label {
    margin: 0;
    padding: 15px 15px;
    font-size: px-to-rem(11px);
    font-weight: $weight-semibold;
    color: $error-color;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }

  &__header {
    padding: 0 15px;
    font-size: px-to-rem(16px);
    color: $dashboard-header;
    font-weight: $weight-medium;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }

  .cardLink {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 0;
    width: 100%;
    text-decoration: none;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba($default-card-bg, 0.15);
    }
  }

  .brewLog {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 116px;
    max-height: 530px;
    overflow: hidden;

    li {
      transition: all 0.3s;
    }
    

    &.page1 {
      li[data-custom=page1] {
        margin-left: 0;
      }
    }

    &.page2 {
      li[data-custom=page1] {
        margin-left: -100%;
      }
    }

    .noBrews {
      padding-left: 15px;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      color: $text-light;

      span {
        padding-top: 3px;
        color: $label-color;
        font-size: px-to-rem(10px);
        line-height: 0;
        letter-spacing: 0.03em;
      }
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 15px;

      a {
        color: $dashboard-link;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: $weight-medium;
        transition: color 0.3s;
    
        &:hover,
        &:focus {
          color: $dashboard-link-hover;
        }
      }
    }
  }
}