@import '../../styles/variables';
@import '../../styles/utilities';

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  padding-top: 3px;

  input,
  select {
    min-width: 50px;
  }
}

.rowOneThird {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 10px;
  padding-top: 3px;
}

.extra {
  margin: 3px 0 13px 0;
  text-align: center;
}

.fullButton {
  margin: 20px 0 20px;
  width: 100%;
}

.unused {
  opacity: 0.5;
  transition: opacity 0.3s;

  &:focus {
    opacity: 1;
  }
}

sub {
  line-height: 0;
}

.tagWrapper {
  margin-bottom: 10px;

  div {
    margin-right: 5px;
  }
}

.info {
  font-size: px-to-rem(13px);
  line-height: 3.6;
}