.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  padding-top: 3px;

  input,
  select {
    min-width: 50px;
  }
}

.extra {
  margin: 3px 0 13px 0;
  text-align: center;
}

.fullButton {
  margin: 20px 0 20px;
  width: 100%;
}